
* {
    box-sizing: border-box;
  }
  body {
      width: 1000px;
      margin: auto;
      line-height: 1.5;
      background-color: lightgray;
      
    }
main img {
    padding: 10px 10px;
    

}
body h1 {
    text-align: center;
    color: rgb(14, 13, 13);
}
main ul h1 {
    text-transform: uppercase;
    color: salmon;
    text-align: left;
    
}

main ul li {
    text-transform: capitalize;
}

footer {
    clear: both;
    background:salmon;
    padding:5px;
    margin-top: 25px;
    width: 905px;
  }
  footer p {
      text-align: center;
      height: 10px;
  }


#SALAMON 

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
  }
  
  th {
    background: salmon;
    color: #000000;
  }
  
  footer {
    clear: both;
    background: salmon;
    padding:5px;
    margin-top: 25px;
    width: 905px;
  }
  footer p {
      text-align: center;
      height: 10px;
  }