@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Oswald:wght@200;700&family=Tajawal&display=swap');
* {
    box-sizing: border-box;
  }
  body {
      width: 1000px;
      margin: auto;
      line-height: 1.5;
      background-color: lightgray;
      
    }
main div {
    padding: 10px 10px;
    

}
body h1 {
    text-align: center;
    color: rgb(14, 13, 13);
    font-family: cursive;
    font-size: xx-large;
    font-weight: bolder;
}
main ul h1 {
    text-transform: uppercase;
    color: salmon;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
}

main ul li p {
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

footer {
    clear: both;
    background:salmon;
    padding:5px;
    margin-top: 25px;
    width: 905px;
  }
  footer p {
      text-align: center;
      height: 10px;
  }


#SALAMON 

table {
  width: 908px;
  margin: 0px -12px;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
  }
  
  th {
    background: salmon;
    color: rgb(22, 22, 182);
    font-weight: bolder;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  td {
    font-size: initial;
    font-family: cursive;
    color:black;
    font-style: italic;
  }
  
  footer {
    clear: both;
    background: salmon;
    padding:5px;
    margin-top: 25px;
    width: 905px;
  }
  footer p {
      text-align: center;
      height: 10px;
  }


  #ADD-NEW-LOCATION {
    width: 905px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-family: cursive;
    font-weight: bolder;
  }

  #avarage {
    width: 120px;
  }

  #max {
    width: 120px;
  }

  #min {
    width: 120px;
  }

  #name {
    width: 200px;
  }

